body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E90FF; 
    padding: 10px 20px;
}

.logo img {
    height: 100px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #1E90FF; 
    color: white;
    text-align: center;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}





.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.periodo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.periodo-container label {
    margin: 0 10px;
    font-weight: bold;
}

.btn-periodo {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.report-container {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions p {
    font-weight: bold;
}

.btn {
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}