body {
    margin: 0;
    font-family: Arial, sans-serif;
<<<<<<< HEAD
=======
    background-color: #f0f0f0; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
>>>>>>> e6c8a39ced55ab12ef8fa898d291a1373ea9f235
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E90FF; 
    padding: 10px 20px;
<<<<<<< HEAD
}

.logo img {
    height: 100px;
=======
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo img {
    height: 60px; 
>>>>>>> e6c8a39ced55ab12ef8fa898d291a1373ea9f235
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
<<<<<<< HEAD
    text-decoration: none; 
    font-size: 16px;
=======
    text-decoration: none;
    font-size: 16px;
    transition: opacity 0.3s ease; 
}

.nav-links a:hover {
    opacity: 0.8; 
>>>>>>> e6c8a39ced55ab12ef8fa898d291a1373ea9f235
}

.title {
    text-align: center;
<<<<<<< HEAD
    margin-top: 30px;
=======
    margin: 30px 0;
    color: #333;
>>>>>>> e6c8a39ced55ab12ef8fa898d291a1373ea9f235
}

.container {
    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 50px auto;
    max-width: 1000px;
}

.box {
    background-color: #ccc;
=======
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

.box {
    background-color: #fff;
>>>>>>> e6c8a39ced55ab12ef8fa898d291a1373ea9f235
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
<<<<<<< HEAD
    align-items: center;
    justify-content: center;
=======
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box:hover {
    transform: translateY(-5px); 
>>>>>>> e6c8a39ced55ab12ef8fa898d291a1373ea9f235
}

.footer {
    background-color: #1E90FF; 
    color: white;
    text-align: center;
<<<<<<< HEAD
    padding: 30px 0;
=======
    padding: 20px 0;
>>>>>>> e6c8a39ced55ab12ef8fa898d291a1373ea9f235
    position: fixed;
    width: 100%;
    bottom: 0;
}
