body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E90FF; 
    padding: 10px 20px;
}

.logo img {
    height: 100px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #1E90FF; 
    color: white;
    text-align: center;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}



.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.report-card {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.report-card p {
    margin: 5px 0;
}

.suministros-utilizados {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.estado {
    position: absolute;
    top: 20px;
    right: 20px;
}

.estado-Pendiente {
    background-color: yellow;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.estado-Aprobado {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success {
    background-color: #28a745;
    color: white;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}